pkgbase = kjspkg-git
	pkgdesc = A package manager for KubeJS.
	pkgver = 1.0
	pkgrel = 1
	url = https://www.github.com/Modern-Modpacks/kjspkg.git
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = python-pip
	makedepends = curl
	makedepends = sudo
	depends = python
	depends = git
	source = git+https://www.github.com/Modern-Modpacks/kjspkg.git
	md5sums = SKIP

pkgname = kjspkg-git
